@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

}

/* src/App.css */

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.navbar-link:hover {
  transform: scale(1.1);
}

.table-row:hover {
  background-color: #f0f4f8;
}

.button-hover:hover {
  background-color: #2563eb;
  transition: background-color 0.3s ease-in-out;
}

.form-container {
  background: linear-gradient(to bottom, #ffffff, #e0f2fe);
}

.footer {
  background: linear-gradient(to top, #2563eb, #1d4ed8);
}